.mood-elem{
    width: 100%;
    display: flex;
    align-items: center;
    gap:1rem;
    padding: 4rem;
}

.mood-elem button{
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    background-color: rgb(38, 38, 37);
    color: white;
    cursor:pointer;
    border: none;
    
}

.user-video-feed{
    width: 20rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    object-fit: cover;
}

.btn{
    transition: transform 0.01s ease-in-out;
}


.btn:active{
    transform: scale(0.92);
}